@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: rgb(216, 185, 144);
}

#clock{
    font-size: 130px;
    font-family: 'Fredoka One', cursive;
    color: rgb(141, 37, 132);
    left: 450px;
    top: 200px;
    position: absolute;
    padding: 0;
    margin: 0;
}

#result{
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    color: rgb(141, 37, 132);
    position: absolute;
    left: 450px;
    top: 350px;
    padding: 0;
    margin: 0;
}

