@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: wheat;
    background-image: url(img/Leave-10s-1366px.svg);
}


h1{
    font-size: 130px;
    background:linear-gradient(rgb(255, 51, 0), rgb(159, 39, 214));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Fredoka One', cursive;
    color: rgb(141, 37, 132);
    left: 450px;
    top: 200px;
    position: absolute;
    padding: 0;
    margin: 0;
}

#result{
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    background:linear-gradient(rgb(255, 102, 0), rgb(240, 56, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(141, 37, 132);
    position: absolute;
    left: 830px;
    top: 350px;
    padding: 0;
    margin: 0;
}

#st1{
    position: absolute;
    left: 500px;
    top: 10px;
    width: 300px;
}

#st2{
    position: absolute;
    width: 18%;
    top: 410px;
    left: 1120px;
}

#st3{
    position: absolute;
    width: 20%;
    top: 460px;
    left: 0;
    width: 220px;
}

#st4{
    position: absolute;
    width: 20%;
}

#st5{
    position: absolute;
    width: 20%;
    left: 1093px;
}

#day{
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    background:linear-gradient(rgb(255, 102, 0), rgb(240, 56, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(141, 37, 132);
    position: absolute;
    left: 190px;
    top: 350px;
    padding: 0;
    margin: 0;
}

.animate__animated.animate__bounce{
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

.animate__animated.animate__rubberBand{
    animation-duration: 1.5s;
}

.animate__animated.animate__tada{
    animation-duration: 1.2s;
}